<div id="<%= dom_id room %>">
  <p>
    <strong>Name:</strong>
    <%= room.name %>
  </p>

  <p>
    <strong>Uuid:</strong>
    <%= room.uuid %>
  </p>

  <p>
    <strong>Shared link:</strong>
    <%= room.shared_link %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= room.status %>
  </p>

</div>
