<p style="color: green"><%= notice %></p>

<%= render @room %>
<%= @shared_url %>

<div>
  <%= link_to "Edit this room", edit_room_path(@room) %> |
  <%= link_to "Back to rooms", rooms_path %>

  <%= button_to "Destroy this room", @room, method: :delete %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col col-md-8">
      <h3>Participants</h3>
      <div class="card">
        <div class="card-header">
          Room name
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col col-md-4">
      <h3>Results</h3>
      <div class="card">
        <div class="card-header">
          Room name
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
