<div>
  <%= link_to "Edit this room", edit_room_path(@room) %> |
  <%= link_to "Back to rooms", rooms_path %>
  <%= button_to "Destroy this room", @room, method: :delete %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col col-md-8">
      <h4>Participants</h4>
      <div class="card">
        <div class="card-header">
          Cartes
        </div>
        <div class="card-body">
          <%= render NoteCardsComponent.new(notes: [1,2,3,5,8,13,21,34,55,89,"?","C"])%>
          <!--a href="#" class="btn btn-primary">Go somewhere</a-->
        </div>
      </div>
    </div>

    <div class="col col-md-4">
      <h4> Contexte </h4>
      <div class="card">
        <div class="card-header bg-primary text-white d-flex fs-5 justify-content-center">
          Commencer le vote
        </div>
        <div class="card-body">
          <%= render StartedVotePanelComponent.new(
            room: @room, shared_url: @shared_link, moderator_name: @moderator_name, current_contributor: @current_contributor, contributors: @contributors
          ) %>
        </div>
      </div>

    </div>
  </div>
</div>
