<div>
  <%= link_to "Edit this room", edit_room_path(@room) %> |
  <%= link_to "Back to rooms", rooms_path %>
  <%= button_to "Destroy this room", @room, method: :delete %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col col-md-8">
      <h4>Participants</h4>
      <div class="card">
        <div class="card-header">
          Cartes
        </div>
        <div class="card-body">
          <%= render NoteCardsComponent.new(notes: [1,2,3,5,8,13,21,34,55,89,"?","C"])%>
          <!--a href="#" class="btn btn-primary">Go somewhere</a-->
        </div>
      </div>
    </div>

    <div class="col col-md-4">
      <h4> Contexte </h4>
      <div class="card">
        <div class="card-header bg-primary text-white d-flex fs-5 justify-content-center">
          Commencer le vote
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <a href="#" class="btn btn-lg w-100 btn-outline-primary my-3"><span class="fs-6"> Voir Votes </span> </a>
            </div>
            <div class="col-6">
              <a href="#" class="btn btn-lg w-100 btn-outline-warning my-3"><span class="fs-6"> Reset </span> </a>
            </div>

            <div class="col-12">
              <a href="#" class="btn btn-lg w-100 btn-outline-danger my-3"><span class="fs-6">Quitter </span> </a>
            </div>
           
            <div class="col-12">
              <%= render ClipboardComponent.new(content_str: @shared_url) %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
